<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FiniteBankingV1">
<listeners>
<listener class-name="com.finitebanking.utilities.Reporting"/>
</listeners>
  <test thread-count="0" name="BankingApp Test">
  <parameter name="browser" value="chrome"/>
    <classes>
      
      <class name="com.finitebanking.testcases.LoginTest_001"/> 
            <class name="com.finitebanking.testcases.TC_LoginDDT_002"/> 
         <class name="com.finitebanking.testcases.TC_AddCustomerTest_003"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
